//Container

.container{
    max-width: $max-width;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
    margin-top: 6rem;
    margin-bottom: 3rem;
}

//Text Style
.x-large{
    font-size:4rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.large{
    font-size:3rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.lead{
    font-size:1.5rem;
    margin-bottom: 1rem;
}

.text-primary{
    color: $primary-color;
}
//Backgrounds
.bg{
    &-primary
    {
    @include set-background($primary-color);
    }
    &-light
    {
        @include set-background($light-color);
        border: #ccc 1px solid;
    } &-dark
    {
        @include set-background($dark-color);
    } &-success
    {
        @include set-background($success-color);
    } &-danger
    {
        @include set-background($danger-color);
    } &-white
    {
        @include set-background(#fff);
        border: #ccc 1px solid;

    }
}

//Buttons
.btn{
    display: inline-block;
    background: $light-color;
    color: #333;
    padding: 0.4rem 1.3rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-right: 0.5rem;
    outline: none;
    transition:all 0.2s ease-in;
    
    &.btn-primary{
        @include set-background($primary-color);
        &:hover{
            background:lighten($primary-color, $amount: 5%)
        }
    }
    &.btn-dark{
        @include set-background($dark-color);
        &:hover{
            background:lighten($dark-color, $amount: 5%)
        }
    }
    &.btn-success{
        @include set-background($success-color);
        &:hover{
            background:lighten($success-color, $amount: 5%)
        }
    }

    &.btn-danger{
        @include set-background($danger-color);
        &:hover{
            background:lighten($danger-color, $amount: 5%)
        }
    }

    &:hover{
        background: lighten($dark-color, $amount: 20%);
        color: #fff;
    }
}

//Alert
.alert{
    padding: 0.8rem;
    margin: 1rem;
    opacity: 0.9;
    background: $light-color;
    columns: #333333;

    &.alert-primary{
        @include set-background($primary-color);
    }
    &.alert-dark{
        @include set-background($dark-color);
    }
    &.alert-success{
        @include set-background($success-color);
    }
    &.alert-danger{
        @include set-background($danger-color);
    }
}

.dark-overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: 0.7);
}